.warning {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 221px;
  height: 221px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 2px solid black;
  > p {
    font-size: 12px;
    font-weight: bold;
  }

  > div {
    background-image: url("/Images/Signpost.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-size: contain;
  }
}
